@import "tailwindcss";

:root{
  --cobalt-blue-50: #e9eefc;
  --cobalt-blue-100: #d3ddf8;
  --cobalt-blue-200: #a6bcf2;
  --cobalt-blue-300: #7a9aeb;
  --cobalt-blue-400: #4e78e4;
  --cobalt-blue-500: #2157de;
  --cobalt-blue-600: #1b45b1;
  --cobalt-blue-700: #143485;
  --cobalt-blue-800: #0d2359;
  --cobalt-blue-900: #07112c;
  --cobalt-blue-950: #050c1f; 


  --color17: #0E83E8;
  --color16: #309AED;
  --color15: #53B1F2;
  --color14: #75C8F7;
  --frozen-lake: #97dffc;
  --color2: #8EB5F0;
  --soft-periwinkle: #858AE3;
  --color4: #7364D2;
  --violet-twilight: #613DC1;
  --color6: #5829A7;
  --indigo: #4E148C;
  --color8: #3D0E61;
  --dark-amethyst: #2C0735;
  --color10: #1D0523;
  --color11: #0F0212;
  --color12: #000000;
}