@import "tailwindcss";

:root{
    font-size: 20px;
    --bgTheme: #2c0735;
    --inputBgTheme: oklch(from var(--mainContentBgTheme) calc(l * 3) c h);

    /*Color Scheme PM made:*/
    --brilliant-azure: #0E83E8;
    --blue-bell: #309AED;
    --cool-sky: #53B1F2;
    --sky-blue: #75C8F7;
    --frozen-lake: #97dffc;
    --blue-ice: #8EB5F0;
    --soft-periwinkle: #989ce4;
    --slate-blue: #7364D2;
    --violet-twilight: #613DC1;
    --indigo-bloom: #5829A7;
    --indigo: #4E148C;
    --dark-amethyst: #3D0E61;
    --darker-amethyst: #2C0735;
    --midnight-violet: #1D0523;
    --coffee-bean: #0F0212;
}

body {
    background: linear-gradient(-60deg, var(--bgTheme), oklch(from var(--bgTheme) calc(l * 1.75) c h));
    color: oklch(from var(--bgTheme) calc(l * 4.25) c h);
    min-height: 100dvh;
    overflow-x: hidden;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    --mainContentColorTheme: #0a000f;
    display: block;
    border-radius: 10px;
    padding-left: 15px;
    margin: 10px;

    max-width: 500px;
    max-height: 300px
}

p {
    text-align: left;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.25rem;
}

h1, h2, h3 {
    font-weight: bold;
}

    
button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    background: #4e148c;
    border: 0.15rem double #97dffc;
    transition: filter 0.2s ease, scale 0.2s ease;
    color: white;
    margin-left: auto;
}


.top,
.bottom {
  display: flex;
  justify-content: center;
}

.input-container input:hover, .input-container input:focus{
    background-color: oklch(from var(--inputBgTheme) calc(l * 0.95) calc(c * 1.5) h);
}

.input-container input:focus, form button:focus,
.input-container input:hover, form button:hover {
    outline: none;
    scale: 1.05;
}

button:hover, button:focus{
    filter: brightness(1.25);
}

@media (max-width: 1100px) {
  .top,
  .bottom {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    max-width: none;
  }
}